.background {
  background-color: black;
  background-image: url("../assets/images/three-house-banneros_16.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html {
  overflow: hidden !important;
}

.content {
  padding-top: 6%;
  padding-left: 1%;
  padding-left: 1%;
  padding-bottom: 6%;
  width: 100%;
}
