.background{
  background-color: black;
  background-image: url('../assets/images/three-house-banneros_16.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: max-content;
  height: max-content;
  margin: -7px;
  display: block;

}

