.title {
  position: relative;
  left: 4vw;
  margin-top: 2vw;
  font-family: "Horizon";
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
}

.textContent {
  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 2.5vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.textAndbutton {
  display: flex;
  position: absolute;
  top: 65vh;
  left: 57vw;
  width: 32vw;
  padding: 1vw;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

:host ::ng-deep {
  .p-button {

    margin-top: 2vh;
    width: 20vw;
    height: 10vh;
    background: rgba(44, 72, 216, 0.21);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border: 0;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .p-button:hover {
    background: rgba(44, 72, 216, 0.7);

  }
  .p-button-label {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vw;
    /* line-height: 40px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding-right: 1vw;
    padding-left: 1vw;
    align-content: center;
    justify-content: flex-start;
  }

  .p-button-icon {
    color: #ffffff;
    padding-right: 1vw;
    font-size: 3.5vw;
  }
}
