<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid ">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/icons/gestao-de-dados-white.png" alt="Bootstrap" width="50">
      Rent tech
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#BarNav" aria-controls="BarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="pi pi-bars" style="color: white"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="BarNav">
      <div class="navbar-nav">
        <a routerLink="/" [routerLinkActive]="['active']" class="nav-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/Rent" [routerLinkActive]="['active']" class="nav-link">Simular</a>
        <a routerLink="/About" [routerLinkActive]="['active']" class="nav-link">Sobre</a>
        <a routerLink="/Contact" [routerLinkActive]="['active']" class="nav-link">Contato</a>
      </div>
    </div>
  </div>
</nav>
