<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo_Simple_Rent.png" alt="" >
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']" routerLinkActive="active" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/simulation']" routerLinkActive="active" >Simulação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Sobre</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
