.image-background {
  background-image: url(/assets/images/Background.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.content {
position: fixed;
top:91px;
}
