/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
  font-family: 'Inter';
  src: url(../src/assets/Fonts/Inter-Thin.ttf);
}

@font-face {
  font-family: 'Lobster';
  src: url(../src/assets/Fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: 'Horizon';
  src: url(../src/assets/Fonts/horizon.otf);
}
